---
layout: default
---
<!-- <div class="home">
    <div class="wrapper">
{% for post in site.posts %}
      <article class="post-content">
        <img src="{{ post.image }}">
        <div class="text">{{ post.title }}</div>
      </article>
{% endfor %}
<span>
{% for color in site.colors %}
<span>{{ color.title }}</span>
{% endfor %}
</span>
    </div>
</div> -->

<div class="uc"
style="
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-align-items: center;
align-items: center;
-webkit-justify-content: center;
justify-content: center;
padding: 100px;
top: 0;
left: 0;
right: 0;
background-color: white;
bottom: 0;
position: absolute;
max-width: 500px;
margin: auto;
"
>
  <img src='/img/uc.jpg'>
</div>

<span style="
position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 14px;
">
Alison Veit b. 1989 in Napa, CA lives and works in Los Angeles CA.
</span>
