<script>
// init controller
						var controller = new ScrollMagic.Controller();
						var tween = new TimelineMax()

{% for color in site.color %}
						.to("#bg", 1, {
							backgroundColor:'{{color}}'
							})
{% endfor %}
						  ;



						// build scene and set duration to window height
						var scene = new ScrollMagic.Scene({triggerElement: "#trigger", duration: 3500})
										.setTween(tween)
										// .addIndicators() // add indicators (requires plugin)
										.addTo(controller);

															// get the current duration value







</script>
